@model IEnumerable<Labb_3_Mvc.Cinema.Models.BookingTicket>

@{
    ViewData["Title"] = "Thanks";
}

<h2>Thank you</h2>

@foreach (var i in Model)
{
    <h3>Your movie: @i.Movie.Title</h3>
    <h3>Room: @i.Room.RoomName</h3>
    <h3>Nr Of Seats Left: @i.Movie.SeatsNr</h3>
    <h3>Date booked: @i.BookingDate</h3>
    break;
}
<hr />
<a asp-action="Index" class="btn btn-default">Back to Home</a>
